/* src/components/RecentVCFunds.css */
.recent-vc-funds-container {
  background-color: #1e1e1e;
  padding: 20px;
  padding-bottom: 5px;
  border-radius: 8px;
  color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 600px;
  height: 250px;
  text-align: center;
  margin-bottom: 0px;
  padding-top: 5px;
}

.recent-vc-funds-header {
  font-size: 22px;
  margin-bottom: 15px;
  border-bottom: 1px solid hsl(0, 0%, 20%);
  padding-bottom: 10px;
}

.yearly-inflation h2 {
  font-size: 24px;
  color: #4caf50; /* Green for yearly inflation */
  margin-bottom: 20px;
}

.recent-vc-funds-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.recent-vc-funds-item {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #444;
}

.month-name {
  font-weight: bold;
}

.inflation-value {
  color: #ffa500; /* Orange for monthly inflation values */
  font-weight: bold;
}

.error-message {
  color: red;
}
