.company-details {
  margin-left: 80px; /* Sidebar için ayarlandı */
  padding: 20px;
  background-color: grey;
  color: white;
  min-height: 100vh;
}

.company-details h2 {
  font-size: 28px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 sütun düzeni */
  grid-gap: 10px; /* Bloklar arasında boşluğu kaldır */
  justify-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.block {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 5px; /* Margin sıfırlandı */
}



html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #121212;
}


a {
  color: #ff7b79;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
