.company-overview {
  background-color: #1e1e1e; /* Diğer bloklarla aynı arka plan */
  padding: 20px;
  padding-right: 0%;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  min-height: 300px; /* Diğer bloklarla aynı yükseklik */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  margin: 0; /* Bloklar arasındaki boşluk kaldırıldı */
}

.company-logo {
  width: 80px;
  height: auto;
  margin-bottom: 10px; /* Logo ile içerik arasındaki boşluk ayarlandı */
}

h3 {
  font-size: 24px; /* Başlık boyutu */
  margin-bottom: 10px; /* Başlık ve metinler arasındaki boşluk */
}

p {
  font-size: 16px;
  margin: 4px 0;
  color: #cccccc; /* Daha okunabilir hale getirildi */
}
