.recent-vc-funds-container {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 600px;
  text-align: center;
  margin-top: 5pxpx;
  padding-top: 5px;
  height: 225px; /* Fixed height for the container */
  position: relative; /* Ensure relative positioning for child elements */
  margin-bottom: 5px;
}

.recent-vc-funds-header h2 {
  font-size: 18px; /* Smaller font size for header */
  color: white;
  margin-bottom: 10px; /* Reduced margin */
  cursor: pointer;
}

.chart-block {
  height: calc(100% - 50px); /* Adjust height to fit within the container */
  width: 100%; /* Match the width of the container */
  position: relative; /* Ensure the chart fits properly */
}
