.fund-container {
  font-family: Arial, sans-serif;
  color: #fff;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-left: 100px; /* Sidebar adjustment */
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.search-bar-etf {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar-etf input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border: 1px solid #444;
  border-radius: 8px;
  background-color: #333;
  color: white;
  outline: none;
}

.search-bar-etf input::placeholder {
  color: #aaa;
}

.loading {
  text-align: center;
  color: #4caf50;
}

.error {
  text-align: center;
  color: red;
}

.chart-container {
  margin-bottom: 30px;
  text-align: center;
}

.chart-container canvas {
  max-width: 400px; /* Limit the width of the chart */
  max-height: 400px; /* Limit the height of the chart */
  margin: 0 auto; /* Center the chart */
}

.holdings-table {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: #2e2e2e;
  border-radius: 8px;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #444;
  color: #fff;
}

table th {
  background-color: #444;
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: #3b3b3b;
}

table tr:hover {
  background-color: #4a4a4a;
}
