
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #1b1b1b;
}

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #1b1b1b;
  margin-left: 80px;
  padding: 20px;
  color: #fff;
  position: relative;
  margin-right: 300px;
  /* z-index kaldırıldı veya 0 yapıldı */
}



.top-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  background-color: #1f1f1f;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.live-date-time {
  font-size: 24px;
  color: #d9d9d9;
  margin-bottom: 10px;
}

.market-data {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  background-color: #2a2a2a;
  border-radius: 8px;
  margin-bottom: 20px;
}

.market-data-item {
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  background-color: #333;
  color: #fff;
}

.content-area {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 20px;
  gap: 10px;
}

.product-hunt-top5, .developer-conferences {
  width: 32%;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
}

.vc-startup-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 5px;
}

.recent-vc-funds {
  
  background-color: #1e1e1e;
  padding: 15px;
  border-radius: 8px;
  color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.hit-startup {
  flex: 0.5;
  background-color: #1e1e1e;
  padding: 15px;
  border-radius: 8px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.hit-startup-title {
  font-size: 16px;
  font-weight: bold;
}

.hit-startup-amount {
  color: #4caf50;
  font-size: 24px;
  font-weight: bold;
}

.tech-news-wrapper {
  margin-top: 20px;
  width: 100%;
}



.news-area {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

