/* src/components/RecentVCFunds.css */

.recent-vc-funds-container {
  background-color: #1e1e1e;
  margin-top: 10%;
  border-radius: 8px;
  color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 24%;
  
}

.recent-vc-funds-header {
  font-size: 18px;
  text-align: center;
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
  margin-bottom: 2%;
}

.recent-vc-funds-list {
  list-style: none;
  padding: 0;
  overflow-y: auto;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 1%;
}

.recent-vc-funds-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  border-bottom: 1px solid #444;
  padding-bottom: 10px;
}

.startup-name {
  font-weight: bold;
}

.fund-amount {
  color: #00c853;
}
