/* Arka planı blur yapmak için, popup'a etki etmeyecek */
.blur {
  filter: blur(8px);
  transition: filter 0.3s ease-in-out;
}

.search-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Yarı saydam arka plan */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.search-popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered-search-input {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.close-button {
  background-color: #ff7b79;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 15px;
}

.close-button:hover {
  background-color: #e06666;
}
