.sidebar {
  width: 80px; /* Sidebar'ı daha dar tut */
  background-color: #333;
  color: white;
  height: 100vh;
  padding-top: 1px;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.sidebar-header, .sidebar-item, .inactive-item, .search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: #4a4a4a;
  color: white;
  border-radius: 8px;
  font-size: 12px;
  margin-bottom: 10px;
  text-align: center;
  transition: background-color 0.3s;
}

.sidebar-item:hover, .search-bar:hover, .inactive-item:hover {
  background-color: #666; /* Hover efekti */
}

.inactive-item {
  color: #888; /* Inaktif butonlar için daha açık renk */
  cursor: not-allowed; /* Tıklanamaz gösterge */
}

.sidebar-header {
  color: white;
  font-size: 7px;
}

.search-bar {
  margin-bottom: 5px;
}

.search-bar .search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4a4a4a;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  
}

.search-bar .search-button .icon {
  font-size: 16px;
  padding-bottom: 1px;
}

.menu {
  list-style: none;
  padding-left: 0;
}

.sidebar-item .icon, .inactive-item .icon {
  font-size: 18px;
  margin-bottom: 1px;
}

.sidebar-logo {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fits within the square without distortion */
  border-radius: 8px; /* Optional: adds rounded corners to the logo */
  
  
}



.account{
  font-size: 18px;
  margin-bottom: 1px;
}


/*
.user{
  margin-top: 370px;
}
*/