.sidebar {
  width: 80px; /* Sidebar is now more narrow */
  background-color: #333;
  color: white;
  height: 100vh;
  padding-top: 20px;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.sidebar-header, .sidebar-item, .search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px; /* Consistent square shape */
  height: 70px; /* Consistent square shape */
  background-color: #4a4a4a;
  color: white;
  border-radius: 8px;
  font-size: 12px;
  margin-bottom: 15px;
  text-align: center;
  transition: background-color 0.3s;
}

.sidebar-item:hover, .search-bar:hover, .sidebar-header:hover {
  background-color: #666; /* Hover effect */
}

.sidebar-header {
  color: white; /* Red color for Silicon Numbers */
  font-size: 6px; /* Smaller font */
}

/* Specific margin to fix the space between Search and Dashboard */
.search-bar {
  margin-bottom: 3px; /* Add extra margin for space between Search and Dashboard */
}

.search-bar .search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4a4a4a;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  gap: 5px;
}

.search-bar .search-button .icon {
  font-size: 16px;
}

.menu {
  list-style: none;
  padding-left: 0;
}

.sidebar-item .icon {
  font-size: 18px;
  margin-bottom: 5px;
}
