/* StockDetailsSidebar.css */

/* Container for the entire sidebar and content */
.stock-details-container {
  display: flex;
  height: 100vh; /* Full height */
  background-color: #0d0f15; /* Dark background */
  margin-left: 80px;
}

/* Sidebar styling */
.stock-details-sidebar {
  width: 220px; /* Fixed width for the sidebar */
  background-color: #0d0f15; /* Dark background */
  padding-left: 20px;
  padding-top: 20px;
  color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  overflow-y: auto; /* Allow scrolling if content overflows */
}

/* Header container for logo and company name */
.header-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align items to the left */
  margin-bottom: 20px;
}



/* Price and percentage change container */
.price-info {
  display: flex;
  align-items: center;
  gap: 8px; /* Space between price and percentage change */
  margin-bottom: 8px; /* Space between price and date */
}

/* Price value styling */
.price-value {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

/* Price change styling */
.price-change {
  font-size: 16px;
  font-weight: bold;
}

.price-change.positive {
  color: #4caf50; /* Green for positive change */
}

.price-change.negative {
  color: #f44336; /* Red for negative change */
}

/* Date wrapper styling with dark gray background */
.date-wrapper {
  font-size: 12px;
  color: #ccc;
  text-transform: uppercase; /* Convert text to uppercase */
  background-color: #1a1d24; /* Dark gray background */
  padding: 4px 8px;
  border-radius: 4px;
}

.price-wrapper {
  font-size: 12px;
  color: #ccc;
  text-transform: uppercase; /* Convert text to uppercase */
  background-color: #1a1d24; /* Dark gray background */
  padding: 4px 8px;
  border-radius: 4px;
}

.name-wrapper {
  text-transform: uppercase; /* Convert text to uppercase */
  background-color: #1a1d24; /* Dark gray background */
  padding: 4px 4px;
  border-radius: 4px;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
  color: #fff;
  margin-bottom: 8px;
  margin-top: 0px;
  display:inline-block;
}

/* Sidebar navigation list */
.stock-details-sidebar ul {
  list-style: none;
  padding: 0;
}

.stock-details-sidebar ul li {
  padding: 10px 0;
  border-bottom: 1px solid #444;
  cursor: pointer;
  color: #ccc;
  padding-left: 5px;
}

.stock-details-sidebar ul li.active {
  background-color: #4a90e2;
  color: #fff;
}

.stock-details-sidebar ul li:hover {
  background-color: #333;
}

/* Main content area */
.stock-details-content {
  flex: 1; /* Take up remaining space */
  padding: 20px;
  overflow-y: auto; /* Allow scrolling if content overflows */
  background-color: #0d0f15; /* Dark background for main content */
}