.stock-card-container {
  padding: 20px;
  background-color: #1f1f1f;
  border: 2px dashed #333;
  border-radius: 10px;
  margin: 30px 0px -10px 0px;
}

.add-stock-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.add-stock-button {
  background-color: #0047ab;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
  transition: background-color 0.2s ease-in-out;
}

.add-stock-button:hover {
  background-color: #003580;
}

.stock-search {
  display: flex;
  gap: 10px;
}

.stock-search input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #555;
  background-color: #2a2a2a;
  color: #fff;
  width: 200px;
}

.no-stocks {
  text-align: center;
  color: #888;
  font-size: 14px;
  margin: 20px 0;
}

.stock-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.stock-card {
  background-color: #292929;
  color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out, border-color 0.2s ease-in-out;
  position: relative;
  border:#555;
}

.stock-card:hover {
  transform: translateY(-5px);
  border-color: green;
}

.stock-card .remove-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  visibility: hidden;
}

.stock-card:hover .remove-button {
  visibility: visible;
}

.stock-card:hover .remove-button:hover {
  color: red;
}

.stock-card .stock-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.stock-card .stock-price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.stock-card .current-price {
  font-size: 24px;
  font-weight: bold;
}

.stock-card .price-change {
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
}

.price-change.up {
  color: green;
}

.price-change.down {
  color: red;
}

.stock-card .stock-summary {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.stock-summary .summary-item {
  text-align: center;
  font-size: 12px;
  border: 1px solid #555;
  border-radius: 5px;
  padding: 5px;
  background-color: #1f1f1f;
}

.stock-summary .summary-item span {
  display: block;
  font-size: 10px;
}

.stock-card .stock-chart {
  margin-top: 20px;
}

.time-percentages {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 10px;
  margin-top: 15px;
}

.time-percentage-block {
  background-color: #1e1e1e;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  font-size: 12px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.time-percentage-block.positive {
  border: 1px solid green;
  color: green;
}

.time-percentage-block.negative {
  border: 1px solid red;
  color: red;
}

.time-percentage-block:hover {
  transform: scale(1.05);
}
