.treasury-container {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 600px; /* Current max-width */
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  
}

.treasury-header {
  font-size: 22px;
  margin-bottom: 15px;
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
  margin-top: 10px;
}

.treasury-rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin-top: 10px;
}

.treasury-date {
  font-weight: bold;
  text-align: left; /* Align date to the left */
}

.treasury-value {
  color: #4caf50; /* Green for treasury value */
  font-weight: bold;
  text-align: right; /* Align value to the right */
}

.error-message {
  color: red;
}

/* Add this for larger screens */
@media (min-width: 1200px) {
  .treasury-container {
    max-width: 800px; /* Increase max-width for larger screens */
    margin-left: 0px; /* Keep margins consistent */
    width: 70%;
    padding-left: 32px;
    padding-right: 32px;
    
  }
}