/* src/components/Watchlist.css */

.watchlist-container {
  width: 250px;
  background-color: #1f1f1f;
  color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Blok efekt için gölge */
  position: fixed;
  top: 20px; /* Üstten biraz boşluk */
  bottom: 20px; /* Alttan biraz boşluk */
  right: 20px; /* Sayfanın sağ tarafında kalmasını sağlar */
  overflow-y: auto; /* İçerik sığmazsa kaydırma sağlar */
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 40px); /* Üst ve alt boşlukla birlikte tam ekran boyu */
  z-index: 1; /* Lower than search popup */
  
}




.watchlist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin-bottom: 10px;

}

.menu-icon {
  cursor: pointer;
}

.add-stock-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #333;
  padding: 5px;
  border-radius: 6px;
}

.add-stock-input {
  background: none;
  border: none;
  color: white;
  outline: none;
  font-size: 12px;
  width: 100%;
  padding: 5px;
}

.add-icon {
  color: #4caf50;
  cursor: pointer;
  margin-left: 5px;
}

.watchlist-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.watchlist-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 10px;
  border-radius: 6px;
}

.symbol {
  font-weight: bold;
}

.price {
  color: #ddd;
}

.change.positive {
  color: #4caf50;
}

.change.negative {
  color: #f44336;
}

.remove-icon {
  color: #ff6b6b;
  cursor: pointer;
}
