/* src/components/SidebarDetails/Ownership.css */
.ownership-container {
  padding: 20px;
  background-color: #1e1e1e;
  color: white;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/* General ve Stock butonları */
.ownership-switch-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.switch-option {
  margin: 0 10px;
  padding: 8px 16px;
  background-color: #333;
  color: #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.switch-option:hover {
  background-color: #555;
  color: white;
}

/* Aktif olmayan butonun stilini ayarlamak için */
.switch-option.active {
  background-color: #4caf50; /* Aktif buton için renk */
  color: white;
}

.ownership-charts {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.chart {
  background-color: #2a2a2a;
  padding: 15px;
  border-radius: 8px;
  width: 45%;
  text-align: center;
}

.ownership-table {
  width: 100%;
  border-collapse: collapse;
}

.ownership-table th, .ownership-table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #444;
}

.ownership-table th {
  background-color: #2a2a2a;
  color: #ccc;
}

.ownership-table td {
  color: #ddd;
}
